<p>login works!</p>

<div>
    Date: {{today}}
</div>
<div>
    Date with pipes: {{today | date}}
</div>
<div>
    date with shortform: {{today | date:'short'}}
</div>
<div>
    uppercase:{{name | uppercase}}
</div>
<div>
    lowercase:{{name | lowercase}}
</div>
<div>
initcap case: {{name| titlecase}}
</div>

<div>
    original:{{name}}
</div>
<div>
    salary:{{salary}}
</div>
<div>
    salary in dollars:{{salary |currency}}
</div>
<div>
    salary in INR:{{salary | currency:"INR"}}
</div>
<div>
    rate of interest:{{rateofinterest | percent}}
</div>
<div>
    square number: {{n | square}}
</div>
<hr>










